<a href="https://colab.research.google.com/github/Parth-G27/ToTTo_Yubi/blob/Build_and_run/yubi_project0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
from google.colab import drive
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
# /content/sample_data/financial_data0.csv
financial_data = {}

In [54]:
print(df.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [55]:
for i in df.columns:
  financial_data[i]=df[i]

In [56]:
print(financial_data.keys())

dict_keys(['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value'])

In [57]:
for i in financial_data.keys():
  print(i)
  print(type(financial_data[i][0]))
  print('---')

longitude
<class 'numpy.float64'>
---
latitude
<class 'numpy.float64'>
---
housing_median_age
<class 'numpy.float64'>
---
total_rooms
<class 'numpy.float64'>
---
total_bedrooms
<class 'numpy.float64'>
---
population
<class 'numpy.float64'>
---
households
<class 'numpy.float64'>
---
median_income
<class 'numpy.float64'>
---
median_house_value
<class 'numpy.float64'>
---

In [58]:
print(financial_data)

{'longitude': 0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64, 'latitude': 0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64, 'housing_median_age': 0       27.0
1       43.0
2       27.0
3       28.0
4       19.0
        ...
2995    23.0
2996    27.0
2997    10.0
2998    40.0
2999    42.0
Name: housing_median_age, Length: 3000, dtype: float64, 'total_rooms': 0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64, 'total_bedrooms': 0        661.0
1        310.0
2        507.0
3         15.0
4        244.0
         ...
2995     642.0
2996    1082.0
2997     201.0
2998      14.0
2999     263.0
Name: total_bedrooms, Length: 3000, dtype: float64, 'population': 0       1537.0
1        809.0
2       1484.0
3         49.0
4        850.0
         ...
2995    1258.0
2996    3496.0
2997     693.0
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64, 'households': 0        606.0
1        277.0
2        495.0
3         11.0
4        237.0
         ...
2995     607.0
2996    1036.0
2997     220.0
2998      14.0
2999     260.0
Name: households, Length: 3000, dtype: float64, 'median_income': 0       6.6085
1       3.5990
2       5.7934
3       6.1359
4       2.9375
         ...
2995    1.1790
2996    3.3906
2997    2.2895
2998    3.2708
2999    8.5608
Name: median_income, Length: 3000, dtype: float64, 'median_house_value': 0       344700.0
1       176500.0
2       270500.0
3       330000.0
4        81700.0
          ...
2995    225000.0
2996    237200.0
2997     62000.0
2998    162500.0
2999    500001.0
Name: median_house_value, Length: 3000, dtype: float64}

In [59]:
# mean_info={}
# for i in financial_data.keys():
#   mean_info[i] = np.mean(financial_data[i])

In [60]:
# for i in financial_data.keys():
#   print(financial_data[i])

# financial_data['latitude']