<a href="https://colab.research.google.com/github/Parth-G27/ToTTo_Yubi/blob/main/yubi_project0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

from google.colab import drive


df = pd.read_csv('/content/sample_data/california_housing_test.csv')
# /content/sample_data/financial_data0.csv
financial_data = {}
mean_info = {}

In [19]:
print(df.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [20]:
for i in df.columns:
  financial_data[i]=df[i]

In [22]:
print(financial_data.keys())

dict_keys(['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value'])

In [32]:
for i in financial_data.keys():
  print(i)
  print(type(financial_data[i][0]))
  print('---')

longitude
<class 'str'>
<class 'numpy.float64'>
---
latitude
<class 'str'>
<class 'numpy.float64'>
---
housing_median_age
<class 'str'>
<class 'numpy.float64'>
---
total_rooms
<class 'str'>
<class 'numpy.float64'>
---
total_bedrooms
<class 'str'>
<class 'numpy.float64'>
---
population
<class 'str'>
<class 'numpy.float64'>
---
households
<class 'str'>
<class 'numpy.float64'>
---
median_income
<class 'str'>
<class 'numpy.float64'>
---
median_house_value
<class 'str'>
<class 'numpy.float64'>
---

In [30]:
print(financial_data['longitude'][0])
type(financial_data['longitude'][0])

-122.05

numpy.float64